@use "page.scss";

html, body {
    height: 100%;
    padding: 10px;
    overflow: auto !important;
    position: relative;
}

p {
    font-weight: bold;
}

.pf-v5-c-divider {
    padding: 10px 0;
}

.pf-v5-c-nav {
    --pf-v5-c-nav__link--FontSize: 1.2rem;
}

#simple-form-publicKey-01 {
    cursor: pointer;
}

.force-color {
    color: #666;
}

#apply-button {
    position: absolute !important;
    top: 25px;
    right: 25px;
    z-index: 1000;
}