@use "page.scss";

p {
    font-weight: bold;
}

.pf-v5-l-stack {
    padding: 25px;
}

.pf-v5-c-divider {
    padding: 10px 0;
}

.pf-v5-c-nav {
    --pf-v5-c-nav__link--FontSize: 1.2rem;
}

#simple-form-publicKey-01 {
    cursor: pointer;
}